.loading__screen{
    width: 100vw;
    height: 100vh;
    background-color: $dark-primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;

    h3{
        margin: 0;
        display: inline-flex;
        width: 10ch;
        overflow: hidden;
        animation: loadingTexto 2s ease;
        opacity: 1;

        span{
            // font-size: 1.5rem;
            letter-spacing: 2px;
            display: block;
            width: 1.5rem;
            overflow: hidden;
            animation: loadingPuntos 1.5s steps( 3 ) infinite;
            animation-timing-function: ease-in-out;
            animation-delay: 2s;
        }
    }
}

@keyframes loadingPuntos {
    from{
        width: 0;
    }
}

@keyframes loadingTexto{
    from{
        width: 0;
        opacity: 0.3;
    }
}