.home__view{

    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}



.patrimonio__view{
    margin-bottom: 5%;

    .currency{
        display: flex;
        justify-content: flex-end;   
    }

    .patrimonio__cantidad{
        cursor: default;
        text-align: center;
        margin-bottom: 20%;
    
        .patrimonio__principal{
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;

            small{
                text-transform: uppercase;
                font-size: 0.8rem;
            }
    
            h1{
                font-size: 4rem;
                padding-left: 10px;
            }
        }
    }

    .total-por-cuentas{
        font-size: 0.8rem;
    }
}


.tabla-general{
    h3{
        padding-bottom: 1rem;

    }
}

.ver-mas{
    display: block;
    // background-color: red;
    text-align: center;
    width: 11rem;
    border: none;
    border-radius: 11%/50%;
    color: #3a9182;
    font-size: 0.8rem;
    height: 2rem;
    line-height: 2rem;
    margin: 0 auto;
    transition: all 300ms;
    z-index: 999;

    &:hover{
        text-decoration: underline;
        color: #3a9182;
    }

    &:active{
        background-color: darken($color: $dark-primary-color, $amount: 5);
        color: $secondary-color;
    }

}

.loading-container{
    height: 250px;
    margin-bottom: 2rem;
}

.loading-patrimonio-view{
    background-color: #868e96;
    border-radius: 2px;
    height: 30%;
    margin: 0 auto;
    margin-top: 1rem;
    opacity: 0.5;
    width: 80%;
    animation: loading 2s infinite ease-in;
}

.loading-cuentas-home{
    background-color: #868e96;
    border-radius: 2px;
    height: 50%;
    margin: 0 auto;
    margin-top: 1rem;
    opacity: 0.5;
    width: 60%;
    animation: loading 2s infinite ease-in;
}

@keyframes loading{
    50%{
        opacity: 0.2;
    }
}


@media( min-width: 1200px){
    .patrimonio__view{
        margin-bottom: 1%;
    }
}

@media( max-width: 500px){
    .patrimonio__view{
        .patrimonio__cantidad{
            .patrimonio__principal{
                h1{
                    font-size: 3.5rem;
                }

            }
        }

    }
}

@media( max-width: 400px){
    .patrimonio__view{
        .patrimonio__cantidad{
            .patrimonio__principal{
                h1{
                    font-size: 3rem;
                }

            }
        }

    }
}

@media( max-width: 300px){
    .patrimonio__view{
        .patrimonio__cantidad{
            .patrimonio__principal{
                h1{
                    font-size: 2rem;
                }

            }
        }

    }
}